.menu {
    list-style: none;
    /* text-align: right; */
    margin-left: 64%;
}
.menu li {
    display: inline;
    /* margin: 10px 0; */
}
a {
    color: #000;
}
section.warna {
    padding: 50px;
    background-color: rgb(66, 163, 101);
    color: #fff;
}
.menu li a {
    color: black;
    margin: 5px;
}